body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

.titre {
    padding: 100px;
    font-size: 52px;
}

.block {
    padding: 100px;
    font-size: 27px;
    display: flex;
    align-items: center; /* Aligne les éléments sur l'axe vertical */
    justify-content: space-around;
}

.animation-trigger {
    transform: translateX(20px);
    transition: opacity 1s, transform 400ms;
}

.block p {
    max-width: 700;
}

.contact {
    font-size: 42px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 100px;
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

.titre2 {
    padding: 100px;
    font-size: 36px;
}

.image_app {
    width: 500px;
    height: auto;
    margin-left: auto;
    border-radius: 10px;
}
  
#scrollbarre {
    height: 10px;
    width: 100%;
    border-radius: 0px 50px 50px 0px;
    position: fixed;
    bottom: 0;
    background: purple;
}

.phone {
  height: 609px;
  width: 281px;
  background-color: rgb(80, 5, 80);
  border-radius: 35px;
}

.iphone {
  position: absolute;
  height: 630px;
  transform: translateX(-20px) translateY(-10px);
}

.deco_phone {
  border: 5px solid rgb(27, 25, 25);
  transform: translateX(35px) translateY(320px);
  border-radius: 30px;
  width: 200px;
}

.deco_phone2 {
  border: 5px solid rgb(27, 25, 25);
  transform: translateX(35px) translateY(320px);
  border-radius: 30px;
  width: 200px;
}

.deco_phone3 {
  border: 5px solid rgb(27, 25, 25);
  transform: translateX(35px) translateY(320px);
  border-radius: 30px;
  width: 200px;
}

.site_zone {
  background: rgb(47, 45, 45);
}