body {
    background-color: black;
    color: white;
    font-family: Baskerville, sans-serif;
    margin: 0;
}

.titre {
    padding: 100px;
    font-size: 52px;
}

.block {
    padding: 100px;
    font-size: 27px;
    display: flex;
    align-items: center; /* Aligne les éléments sur l'axe vertical */
    justify-content: space-around;
}

.block p {
    max-width: 700;
}

.contact {
    font-size: 42px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 100px;
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
        transform: scale(1.15);
    }
}

.titre2 {
    padding: 100px;
    font-size: 36px;
}

.image_app {
    width: 500px;
    height: auto;
    margin-left: auto;
    border-radius: 10px;
}
  
#scrollbarre {
    height: 10px;
    width: 100%;
    border-radius: 0px 50px 50px 0px;
    position: fixed;
    bottom: 0;
    background: purple;
}

.phone {
  height: 609px;
  width: 281px;
  background-color: rgb(50, 49, 49);
  border-radius: 35px;
  transform: translateX(-45px);
}

.iphone {
  position: absolute;
  height: 630px;
  transform: translateX(-20px) translateY(-10px);
}

.deco_phone_titre {
  border: 8px solid rgb(82, 81, 81);
  transform: translateX(57px) translateY(229px);
  border-radius: 30px;
  width: 154px;
}

.deco_phone {
  border: 5px solid rgb(82, 81, 81);
  transform: translateX(72px) translateY(320px);
  border-radius: 30px;
  width: 135px;
}

.deco_phone2 {
  border: 5px solid rgb(82, 81, 81);
  transform: translateX(38px) translateY(328px);
  border-radius: 30px;
  width: 200px;
}

.deco_phone3 {
  border: 5px solid rgb(82, 81, 81);
  transform: translateX(38px) translateY(336px);
  border-radius: 30px;
  width: 200px;
}

.deco_trait {
  background:  rgb(82, 81, 81);
  border-radius: 30px;
  width: 10px;
    height: 10px;
} 

.site_zone {
  background: rgb(30, 29, 29);
}

.phone .page1,
.phone .page2 {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.phone .page2 {
    opacity: 0;
    z-index: 1;
}

@keyframes changePage {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.phone .page1 {
    animation: changePage 5s infinite;
}

.ordinateur {
  height: 300px;
  width: 500px;
  background-color:rgb(60, 67, 88);
  border-radius: 35px;
  overflow: scroll;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.deco_ordinateur {
  background: rgb(82, 81, 81);
  border-radius: 20px;
  width: 150px;
  height: 190px;
  position: absolute;
  left: 6%;
  top: 114%;
  }

.deco_ordinateur_text {
  background: rgb(82, 81, 81);
  border-radius: 20px;
  width: 222px;
  height: 14px;
  position: absolute;
  left: 45%;
  top: 133%;
  }

.deco_ordinateur_text2 {
    background: rgb(82, 81, 81);
    border-radius: 20px;
    width: 222px;
    height: 14px;
    position: absolute;
    left: 45%;
    top: 146%;
}

  .deco_ordinateur_text3 {
      background: rgb(82, 81, 81);
      border-radius: 20px;
      width: 222px;
      height: 14px;
      position: absolute;
      left: 45%;
      top: 159%;
  }

  .ecran_titre {
    background: rgba(223, 118, 0, 1);
    padding: 59px;
    font-size: 57px;
    color: rgba(255, 166, 0, 0.23);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.text_block {
  width: 500px;
}

.text_block_app {
  width: 500px;
  transform: translateX(-45px);
}

html {
  scroll-behavior: smooth;
  scroll-behavior: 1000ms;
}

.info_plus{
  padding: 100px;
  font-size: 34px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #c1c1c1;
}

.barre_defilement {
  background: gray;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}