body {
  background-color: black;
  color: white;
  font-family: Baskerville, sans-serif;
  margin: 0;
}

  .div {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  /* ////////////////// BARRE NAV //////////////////////// */

  .nav-barre {
    background-color: #222d41;
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 22px 51px;
    box-sizing: border-box;
    top: 0;
    position: fixed;
    z-index: 1000;
  }
  @media (max-width: 991px) {
    .nav-barre {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .TitleNav {
    flex-grow: 1;
    flex-basis: auto;
    font-size: 26px;
    
  }

.TitleNav .port {
  color: white;
}

.TitleNav .folio {
  color: rgba(215, 108, 88, 1);
}

  .ContentNav {
    display: flex;
    gap: 20px;
    color: #fff;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .ContentNav {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  /* ////////////////////////////////////////// */
  /* ////////////////// SECTION PRESENTATION //////////////////////// */
  .div-8 {
    background-color: #374158;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 130px 60px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-9 {
    display: flex;
    margin-top: 19px;
    width: 100%;
    max-width: 1054px;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-10 {
    align-self: end;
    display: flex;
    margin-top: 36px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
    }
  }
  .div-11 {
    color: #fff;
    font: 400 40px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    color: #fff;
    margin-top: 11px;
    font: 400 40px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
    }
  }
  .div-13 {
    display: flex;
    margin-top: 11px;
    gap: 19px;
    font-size: 40px;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .div-13 {
      flex-wrap: wrap;
    }
  }
  .div-14 {
    color: #fff;
    font-family: Inter, sans-serif;
  }
  .div-15 {
    color: #d76c58;
    font-family: Inter, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  .div-16 {
    color: #d76c58;
    margin-top: 46px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-17 {
    align-self: start;
    display: flex;
    margin-top: 28px;
    gap: 9px;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 56px;
    stroke-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(217, 217, 217, 0);
    border-radius: 50%;
    height: 56px;
  }
  .div-18 {
    stroke-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(217, 217, 217, 0);
    border-radius: 50%;
    width: 56px;
    height: 56px;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 56px;
    stroke-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(217, 217, 217, 0);
    border-radius: 50%;
    height: 56px;
  }
  .div-19 {
    border-radius: 20px;
    background-color: #7f5056;
    display: flex;
    padding-bottom: 35px;
    flex-direction: column;
    align-items: start;
  }
  .img-4 {
    aspect-ratio: 0.66;
    object-fit: auto;
    object-position: center;
    width: 100%;
    z-index: 10;
    margin-top: -35px;
  }
  /* ////////////////////////////////////////// */
  /* ////////////////// SECTION SKILLS //////////////////////// */

  .div-20 {
    background-color: #222d41;
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    font-weight: 400;
    justify-content: center;
    padding: 240px 60px;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-21 {
    display: flex;
    width: 100%;
    max-width: 1110px;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 0 28px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-22 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
    }
  }
  .div-23 {
    font: 40px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
    }
  }
  .div-24 {
    margin-top: 25px;
    font: 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
    }
  }
  .div-25 {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-25 {
      white-space: initial;
    }
  }
  .div-26 {
    align-self: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-26 {
      white-space: initial;
    }
  }
  .div-27 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-27 {
      white-space: initial;
    }
  }
  .div-28 {
    font: 20px Inter, sans-serif;
  }
  .div-29 {
    align-self: center;
    margin-top: 15px;
    font: 10px Inter, sans-serif;
  }
  .div-30 {
    align-self: start;
    font: 10px Inter, sans-serif;
  }
  .div-31 {
    margin: auto 0;
    font: 20px Inter, sans-serif;
  }
  .div-32 {
    display: flex;
    gap: 3px;
  }
  @media (max-width: 991px) {
    .div-32 {
      white-space: initial;
    }
  }
  .div-33 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }
  @media (max-width: 991px) {
    .div-33 {
      white-space: initial;
    }
  }
  .div-34 {
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 10px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-34 {
      white-space: initial;
    }
  }
  .div-35 {
    display: flex;
    margin-top: 9px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-35 {
      white-space: initial;
    }
  }
  .div-36 {
    font-family: Inter, sans-serif;
  }
  .div-37 {
    font-family: Inter, sans-serif;
    align-self: end;
    margin-top: 10px;
  }
  .div-38 {
    align-self: stretch;
    margin: auto 0;
    font: 20px Inter, sans-serif;
  }
  .div-39 {
    font-family: Inter, sans-serif;
  }
  .div-40 {
    font-family: Inter, sans-serif;
  }
  .div-41 {
    display: flex;
    margin-top: 7px;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-41 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-42 {
    align-self: end;
    margin-top: 24px;
    font: 10px Inter, sans-serif;
  }
  .div-43 {
    align-self: start;
    display: flex;
    gap: 18px;
  }
  @media (max-width: 991px) {
    .div-43 {
      white-space: initial;
    }
  }
  .div-44 {
    font: 32px Inter, sans-serif;
  }
  .div-45 {
    margin: auto 0;
    font: 10px Inter, sans-serif;
  }
  .div-46 {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-46 {
      white-space: initial;
    }
  }
  .div-47 {
    align-self: center;
    font: 20px Inter, sans-serif;
  }
  .div-48 {
    margin-top: 11px;
    font: 32px Inter, sans-serif;
  }
  .div-49 {
    align-self: center;
    display: flex;
    width: 215px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-49 {
      white-space: initial;
    }
  }
  .div-50 {
    font: 20px Inter, sans-serif;
  }
  .div-51 {
    align-self: start;
    display: flex;
    gap: 20px;
    font-size: 10px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-51 {
      white-space: initial;
    }
  }
  .div-52 {
    font-family: Inter, sans-serif;
  }
  .div-53 {
    font-family: Inter, sans-serif;
  }
  .div-54 {
    display: flex;
    align-items: start;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-54 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-55 {
    align-self: stretch;
    margin: auto 0;
    font: 24px Inter, sans-serif;
  }
  .div-56 {
    display: flex;
    margin-top: 4px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-56 {
      white-space: initial;
    }
  }
  .div-57 {
    font: 16px Inter, sans-serif;
  }
  .div-58 {
    margin-top: 14px;
    font: 20px Inter, sans-serif;
  }
  .div-59 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-59 {
      white-space: initial;
    }
  }
  /* ////////////////////////////////////////// */
  /* ////////////////// SECTION SERVICE //////////////////////// */

  .div-60 {
    font: 20px Inter, sans-serif;
  }
  .div-61 {
    font: 10px Inter, sans-serif;
  }
  .div-62 {
    background-color: #000;
    z-index: 10;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-62 {
      max-width: 100%;
    }
  }
  .div-63 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-63 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .img-5 {
    aspect-ratio: 0.84;
    object-fit: auto;
    object-position: center;
    width: 100%;
    align-self: stretch;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .img-5 {
      max-width: 100%;
      margin-top: -55px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-64 {
    display: flex;
    margin-top: 11px;
    flex-direction: column;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .div-64 {
      max-width: 100%;
    }
  }
  .div-65 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 41px 60px;
  }
  @media (max-width: 991px) {
    .div-65 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-66 {
    display: flex;
    
    max-width: 100%;
    flex-direction: column;
  }
  .div-67 {
    color: #d76c58;
    font: 40px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-67 {
      max-width: 100%;
    }
  }
  .div-68 {
    color: #fff;
    margin-top: 18px;
    font: 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-68 {
      max-width: 100%;
    }
  }
  .div-69 {
    background-color: #000;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 42px 60px;
  }
  @media (max-width: 991px) {
    .div-69 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-70 {
    display: flex;
    margin-right: 66px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-70 {
      margin-right: 10px;
    }
  }
  .div-71 {
    color: #d76c58;
    font: 40px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
    }
  }
  .div-72 {
    color: #fff;
    margin-top: 25px;
    font: 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-72 {
      max-width: 100%;
    }
  }
  .div-73 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 49px 60px;
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-74 {
    display: flex;
    
    max-width: 100%;
    flex-direction: column;
  }
  .div-75 {
    color: #d76c58;
    font: 40px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
    }
  }
  .div-76 {
    color: #fff;
    margin-top: 19px;
    font: 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
    }
  }
  /* ////////////////////////////////////////// */
  /* ////////////////// SECTION PHOTO //////////////////////// */

  .div-77 {
    background-color: #222d41;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 28px 17px 70px 80px;
  }
  @media (max-width: 991px) {
    .div-77 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-78 {
    width: 100%;
    max-width: 1232px;
  }
  @media (max-width: 991px) {
    .div-78 {
      max-width: 100%;
    }
  }
  .div-79 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-79 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .div-80 {
    color: white;
    margin-top: 67px;
    font: 400 48px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-80 {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-81 {
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-81 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-82 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-82 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-6 {
      margin-top: 40px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .img-7 {
    aspect-ratio: 0.96;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-7 {
      margin-top: 40px;
    }
  }
  .div-83 {
    display: flex;
    margin-top: 21px;
    width: 100%;
    max-width: 1150px;
    gap: 20px;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .div-84 {
    font-family: Inter, sans-serif;
    border-radius: 10px;
    border-color: rgba(215, 108, 88, 1);
    border-style: solid;
    border-width: 3px;
    background-color: rgba(217, 217, 217, 0);
    align-self: end;
    margin-top: 34px;
    align-items: center;
    justify-content: center;
    padding: 41px 60px;
  }
  @media (max-width: 991px) {
    .div-84 {
      padding: 0 20px;
    }
  }
  .img-8 {
    aspect-ratio: 5;
    object-fit: auto;
    object-position: center;
    width: 50%;
  }
    /* ////////////////////////////////////////// */
  /* ////////////////// SECTION CONTACT //////////////////////// */
  .div-85 {
    background-color: rgba(55, 65, 88, 1);
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    padding: 30px 60px;
  }
  @media (max-width: 991px) {
    .div-85 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-86 {
    display: flex;
    width: 100%;
    max-width: 1097px;
    flex-direction: column;
    margin: 120px 0 46px;
  }
  @media (max-width: 991px) {
    .div-86 {
      max-width: 100%;
      margin: 40px 0;
    }
  }
  .div-87 {
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-87 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-88 {
    color: #d76c58;
    flex-grow: 1;
    flex-basis: auto;
    font: 64px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-88 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-89 {
  border-radius: 10px;
  border-color: rgba(215, 108, 88, 1);
  border-style: solid;
  border-width: 3px;
  background-color: rgba(217, 217, 217, 0);
  align-self: start;
  margin-top: 9px;
  align-items: center;
  color: #fff;
  justify-content: center;
  padding: 41px 90px;
  font: 32px Inter, sans-serif;
  white-space: nowrap; /* Prevents wrapping */
}
@media (max-width: 991px) {
  .div-89 {
    padding: 0 20px;
  }
}

.img-9 {
  object-fit: auto;
  object-position: center;
  width: 206px;
  stroke-width: 1px;
  stroke: #d76c58;
  border-color: rgba(215, 108, 88, 1);
  border-style: solid;
  border-width: 1px;
  max-width: 100%;
}
    /* ////////////////////////////////////////// */
